footer
  .footerContact
    p (CONTACT)
    p.footerContactHeader INTERESTED IN WORKING TOGETHER?
    a.footerContactLink(href='mailto:desmchen@telus.net?subject=Lets%20work%20on%20something%20together')
      | SEND ME A MESSAGE 
      img.footerArrow(alt='link to a sending a message' src='css/img/icons/LargeArrow.svg' height='40' width='40')
    hr
  // Insert Arrow
  .footerGrid
    // Insert 7 by grid
    p.footerTitles EXTRAS
    .contacts
      p.footerTitles BUSINESS
      .footerFlex
        a(href='mailto:desmchen@telus.net?subject=Lets%20work%20on%20something%20together') email
        a(href='https://www.linkedin.com/in/desmond-chen-468b28277/' target='_blank' rel='noopener noreferrer') Linkedin
        a(href='https://drive.google.com/file/d/1UwBm8nddmK0KD4YlyWKBe_Ptv18u-9CQ/view?usp=sharing' target='_blank' rel='noopener noreferrer') resume
    div
      p.footerTitles PAGES
      .footerFlex
        a(href='/index.html') Home
        a(href='/HTMLFiles/Work.html') Works
        a(href='/HTMLFiles/About.html') About
    div
      p.footerTitles CREDITS
      .footerFlex
        p Designed &amp; Coded by DC
        p Last Updated: 2025
