header
  nav.navbar
    a.homeIcon(href='/index.html')
      img(src='/css/img/icons/homeButton.gif' width='50' height='50')
    .navLinks
      a(href='/HTMLFiles/Work.html') work
      a(href='/HTMLFiles/About.html') about
      a(href='https://drive.google.com/file/d/1UwBm8nddmK0KD4YlyWKBe_Ptv18u-9CQ/view?usp=drive_link' target='_blank' rel='noopener noreferrer') resume
      a(href='https://www.linkedin.com/in/desmond-chen-468b28277/?skipRedirect=true' target='_blank' rel='noopener noreferrer') linkedin
    button.Sandwich(aria-label='Sandwich Menu')
      span
      span
  .mobileLinks
    .mobileLinksInner
      a#NavLinkOne.innerLinks(href='/HTMLFiles/Work.html')
        p 01
        p Works
      a.innerLinks(href='/HTMLFiles/About.html')
        p 02
        p About
      a.innerLinks(href='https://drive.google.com/file/d/1UwBm8nddmK0KD4YlyWKBe_Ptv18u-9CQ/view?usp=drive_link' target='_blank' rel='noopener noreferrer')
        p 03
        p Resume
      a.innerLinks(href='https://www.linkedin.com/in/desmond-chen-468b28277/?skipRedirect=true' target='_blank' rel='noopener noreferrer')
        p 04
        p LinkedIn
      
