doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Take The Reins - Desmond Chen
  link(rel='icon' type='image/x-icon' href='/css/img/icons/MainIcon.ico')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  script(src='/JavaScript/dropdown.js' defer='')
  script(src='/JavaScript/fadeIn.js' defer='')
  link(href='/css/main.css' rel='stylesheet')
include inc/_navCase
main
  section
    img.caseImg(alt='Complete Board game setup' src='/css/img/TakeTheReinsImg/TTRMain.png' height='600' weight='1000')
    .caseContainer
      div
        h1.caseTitle Take
        h1.caseTitle The Reins
        p.projectCaseSubTitle School Project

      div
        p.descriptionSubhead Summary
        h2.descriptionHeader
          | A board game exploring the ethics of horse racing through a playful, satirical lens.
        hr
        .descriptionRoles
          div
            p.roleTitles Roles
            p
              | Prototyping Game Mechanics, Manufacturing, Printing, Visual Design
          div
            p.roleTitles Tools
            p
              | 3D Printer, Laser Cutter, Figma, Paint
          div
            p.roleTitles Duration
            p 2 weeks, Winter 2025
          div
            p.roleTitles Team
            p McKenzie Parkhurst, Jordan McKenzie, Lynne Yang, Veron Singh
  section.darkGrayBG.projectSection
      p.finalSubHeading.whiteText Final Product
      h3.explanationHeading.whiteText The completed board game with 3D printed parts and laser cut board
      .finalTFabricationGrid
        div
          iframe(width='560' height='315' src='https://www.youtube.com/embed/taCZ01niYCg?si=fituGWDOPwgfvS4z' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen='')
          p.whiteText Trailer    
        div
          iframe(width='560' height='315' src='https://www.youtube.com/embed/1360IREpUuk?si=3zW1GmFU7NE_cdkm' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen='')
          p.whiteText Process Video

include inc/_footer